@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark p {
  color: var(--foreground);
}

/* Scrollbar Styling for light mode */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #881818;
}

/* Scrollbar Styling for dark mode */
.dark::-webkit-scrollbar {
  width: 12px;
}

.dark::-webkit-scrollbar-track {
  background: #0a0a0a; /* A very dark gray, almost black, for the scrollbar track in dark mode */
}

.dark::-webkit-scrollbar-thumb {
  background: #333; /* Dark gray for the thumb */
  border-radius: 6px;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: #555; /* Slightly lighter gray on hover */
}
